<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
<span class="navbar-brand mb-0 h1">Restaurant</span>
</nav>
<div class="row">
<div class="col">
    <h3>login</h3>

    <form action="/login" method="post">
        <div class="input">
            <label for="username">votre nom</label>
            <input type="text" class="form-control"  id="username" name="username">
        </div>
        <div class="input">
            <label for="pass">votre password</label>
            <input type="password" class="form-control" id="pass" name="pass">
        </div>
        <button type="submit" class="btn btn-outline-info">login</button>
    </form>
</div>
</div>
</body>
</html>
